@import "tailwindcss";

@theme {
  --color-brand-dark: #1E1E1F;
  --color-brand-purple: #8377D1;
  --color-brand-orange: #F79824;
  --color-brand-light: #EBEBEB;
  --font-inter: var(--font-inter), sans-serif;
}

/* Custom scrollbar styling for a more modern look. */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1E1E1F;
}
::-webkit-scrollbar-thumb {
  background: #8377D1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6a5faf;
}
